* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background-color: hsl(0, 0%, 95%);
  border-radius: 10px;
  width: 400px;
  border: 1px solid black;
  text-align: center;
  padding: 20px;
  margin: 200px auto;
}

header {
  position: relative;
}

.move-count {
  position: absolute;
  right: 5px;
  background-color: lightgrey;
  padding: 5px;
  border-radius: 10px;
  width: 40px;
}

.btn {
  background-color: #2563eb;
  color: white;
  font-size: 1.25rem;
  padding: 6px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(0.9);
}

.dices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 0.5rem;
}

.lucide {
  color: #000000;
  width: 65px;
  height: 65px;
  stroke-width: 1.2px;
  fill: white;
  transition: fill 0.3s;
}

.dice-pieces:hover {
  fill: #cccccc;
}

.dice-pieces:active {
  fill: #a5a5a5;
}

.dice-held {
  fill: #cbffb6;
}
